.footer {
    background-color: #eaeaea;
    margin-top: 5%;
}

.footer div {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}


.GCP {
    width: 125px;
	float: right;
}

.WM {
    width: 125px;
    height: 40px;
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
}

.credentials {
    width: 180px;
    display: inline-block;
    margin-left: 33%;
    margin-top: 30px;
}

.credentials a {
    color: #333;
}