<div class="container">
	<div class="row headContainer">
		<div class="col-sm-4">
			<a href="/"><img src="../../lib/pic/Header-logo.png"></a>
		</div>
		<div class="col-sm-6 col-sm-offset-2">
			<div class="headerRightSection">
				<div class="savedWorksDiv">
					<input type="button" class="savedWorks" value="In Development">
				</div>
				<div class="loginDiv" ng-if="headerLoginTrig">
					<p>Привет, {{userName}}</p>
				</div>
				<div class="loginDiv" ng-if="!headerLoginTrig">
					<p class="loginP" data-toggle="modal" data-target="#loginPopup" ng-click="modalListener()">Войти в личный кабинет</p>
					<img src="../../lib/pic/People.svg" class="headerIcon">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loginPopup" class="modal fade" role="dialog">  
	<div class="loginPopupContainer" ng-switch="popupState">
		<img src="../../lib/pic/Header-logo.png" class="loginPopupLogoImg">
		<form class="loginPopupForm" ng-submit=login() ng-switch-when="login">
			<input type="text" class="loginPopupInputText" placeholder="E-mail" name="username" ng-model="username">
			<input type="password" class="loginPopupInputText" placeholder="Пароль" name="password" ng-model="password">
			<input type="submit" class="loginPopupInputButton" value="Войти">
			<div class="linksPopupDiv">
				<p class="loginPopupText" ng-click="registrationForm()">Регистрация</p>
				<p class="loginPopupText" ng-click="lostPassForm()">Забыли пароль?</p>
			</div>
		</form>
		<form class="loginPopupForm" ng-submit=registration() ng-switch-when="registration">
			<input type="text" class="loginPopupInputText" placeholder="E-mail" name="username" ng-model="username">
			<input type="text" class="loginPopupInputText" placeholder="Ваше имя" name="username" ng-model="username">
			<input type="password" class="loginPopupInputText" placeholder="Пароль" name="password" ng-model="password">
			<input type="password" class="loginPopupInputText" placeholder="Повторите пароль" name="password" ng-model="password">
			<input type="submit" class="loginPopupInputButton" value="Зарегистрироваться">
		</form>
		<form class="loginPopupForm" ng-submit=registration() ng-switch-when="lostPass">
			<input type="text" class="loginPopupInputText" placeholder="E-mail" name="username" ng-model="username">
			<input type="submit" class="loginPopupInputButton" value="Восстановить">
		</form>
	</div>	
</div>