.logo {
	width: 288px;
    max-width: 324px;
}

.headContainer {
	font-family: 'Roboto', sans-serif;
    font-weight:300;
}

.headContainer p {
	margin: 0;
}

.headerRightSection {
	float: right;
    margin: 52.5px 1% 0 0;
}

.headerRightSection p {
	display: inline-block;
}

.headerRightSection:hover span {
	color: #0eb6e0;
}

.headerRightSection span:hover {
/*	cursor:pointer;*/
}

.headerRightSection img {
	display: inline-block;
    width: 12px;
}

.headerRightSection:hover .personMenu {
	display: block;
}


.personMenu {
    clear: both;
    float: right;
    margin-right: 3%;
    max-width: 100px;
    padding: 2px;
    position: absolute;
    right: 10px;
    display: none;
    border-radius: 2px;
    box-shadow: 0 0 2px grey;
    background-color: #f3f3f3;
}

.personMenu div div:hover {
	background-color: white;
}

.personMenu a{
	margin-left: 19%;
	color: #808080;
}

.personMenu a:hover {
	color: #0853a0;
	cursor: pointer;
	text-decoration: none;
}