<div class="loginPopupContainer" ng-switch="popupState">
	<img src="../../lib/pic/MDMA_Logo.svg" class="loginPopupLogoImg">
	<form class="loginPopupForm" ng-submit="login()" ng-switch-when="login">
		<p class="failMsg">{{failMsg}}</p>
		<input required type="text" class="loginPopupInputText" placeholder="E-mail" name="username" ng-model="user.username" data-place="E-mail">
		<input required type="password" class="loginPopupInputText" placeholder="Пароль" name="password" ng-model="user.password" data-place="Пароль">
		<input type="submit" class="loginPopupInputButton" value="Войти">
		<div class="linksPopupDiv">
			<p class="loginPopupText" ng-click="registrationForm()">Регистрация</p>
			<p class="loginPopupText" ng-click="lostPassForm()">Забыли пароль?</p>
		</div>
	</form>

	<form class="loginPopupForm" ng-submit=registration() ng-switch-when="registration">
		<p class="failMsg">{{failMsg}}</p>
		<input type="text" class="loginPopupInputText" placeholder="E-mail" name="username" ng-model="user.username" data-place="E-mail" required>
		<input type="text" class="loginPopupInputText" placeholder="Ваше имя" name="name" ng-model="user.name" data-place="Ваше имя" required>
		<input type="password" class="loginPopupInputText" placeholder="Пароль" name="password" ng-model="user.password" data-place="Пароль" required>
		<input type="password" class="loginPopupInputText" placeholder="Повторите пароль" name="repeatPassword" data-place="Повторите пароль" required>
        <input type="submit" class="loginPopupInputButton" value="Зарегистрироваться">
        <div class="linksPopupDiv">
			<p class="loginPopupText" ng-click="loginForm()">Войти</p>
			<p class="loginPopupText" ng-click="lostPassForm()">Забыли пароль?</p>
		</div>
	</form>
	<form class="loginPopupForm" ng-submit=lostPass() ng-switch-when="lostPass">
		<input type="text" class="loginPopupInputText" placeholder="E-mail" name="username" ng-model="username" data-place="E-mail">
        <input type="submit" class="loginPopupInputButton" value="Восстановить">
        <div class="linksPopupDiv">
			<p class="loginPopupText" ng-click="loginForm()">Войти</p>
			<p class="loginPopupText" ng-click="registrationForm()">Регистрация</p>
		</div>
	</form>
	<div ng-switch-when="success">
		<p class="successText">{{successMessage}}</p>
	</div>
</div>
