<div class="container">
    <div class="row">
        <div class="bread">
            <div class="breadContent">
				<p class="breadText" id="bread_industry">Отрасль</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_client">Клиент</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_ad_goal">Тип кампании</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_medium">Канал</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_placement">Источник</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_brand">Бренд</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_device">Тип устройства</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_format">Формат</p>
				<img src="../../lib/pic/o.png" class="breadImg">
				<p class="breadText" id="bread_successful">Успех</p>
                <div class="breadHoverDefault">
                    <p class="breadHoverInfoP"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mainPart">
        <div class="resultTabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#postbuy" data-toggle="tab" id="Postbuy">Postbuy</a></li>
                <li><a href="#google_analytics" data-toggle="tab" id="Google_Analytics">Google Analytics</a></li>
                <li><a href="#yandex_metrika" data-toggle="tab" id="Yandex_Metrika">Yandex Metrika</a></li>
            </ul>
            <div class="btnContainer">
        		<div class="btn" id="download" ng-click="download()">Download</div>    	
           		<div class="btn btnPrevious" ng-click="changeSettings()">< Edit current report</div>
           		<div class="btn btnPrevious"><a href="/filters">< Create new report</a></div>    	
            </div>
        </div>
        <div class="loaderDiv">
            <img class="loader" src="lib/pic/Logo_MDMA_Circle.svg">
        </div>
        <div class="tab-content">
            <div id="postbuy" class="tab-pane fade active in">
                <div class="tableAppSection ">
                    <div class="tablePadding">
                        <div class="tableContainer">
                            <table id="postbuyTable" class="table table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="google_analytics" class="tab-pane fade">
                <div class="tableAppSection ">
                    <div class="tablePadding">
                        <div class="tableContainer">
                            <table id="googleAnalyticsTable" class="table table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="yandex_metrika" class="tab-pane fade">
                <div class="tableAppSection ">
                    <div class="tablePadding">
                        <div class="tableContainer">
                            <table id="yandexMetrikaTable" class="table table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>