<div class="container">
    <div class="row">
        <div class="bread">
            <div class="breadContent">
                <p class="breadText" id="industry">Отрасль</p>
                <img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
                <p class="breadText" id="client">Клиент</p>
                <img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
                <p class="breadText" id="ad_goal">Тип кампании</p>
                <div class="breadHoverDefault">
                    <p class="breadHoverInfoP"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mainPart">
        <div class="menuSection">
        </div>
        <div class="menuHolder">

            <div class="hoverMenuWithMetrics hideElement">
                <div class="topSideMVW">
                    <p>{{menuElements.dataSource[menuToShow].name}}</p>
                </div>
                <div class="activeGroup">
                    <div class="leftSideMVW">
                        <div class="dimension">
                            <div class="elementToChooseMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].content.dimension track by elem">
                                <p>{{elem}}</p>
                            </div>
                        </div>
                        <div class="metrics">
                            <div class="elementToChooseMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].content.metrics track by elem">
                                <p>{{elem}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttonMVW">
                        <input type="button">
                        <input type="button">
                    </div>
                    <div class="rightSideMVW">
                        <div class="dimension">
                            <div class="elementChosenMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].chosen.dimension track by $index">
                                <div class="eCMVWLInner">
                                    <p>{{elem}}</p>
                                </div>
                                <div class="xContainer">
                                    <div class="xInEC"></div>
                                </div>
                            </div>
                        </div>
                        <div class="metrics">
                            <div class="elementChosenMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].chosen.metrics track by $index">
                                <div class="eCMVWLInner">
                                    <p>{{elem}}</p>
                                </div>
                                <div class="xContainer">
                                    <div class="xInEC"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomMVW">
                    <input type="checkbox" value="Цели">
                </div>
            </div>

            <div class="hoverMenuWithVariants hideElement">
                <div class="topSideMVW">
                    <p>{{menuElements[menuToShow].name}}</p>
                </div>
                <div class="activeGroup">
                    <div class="leftSideMVW">
                        <div class="elementToChooseMVW" ng-repeat="elem in menuElements[menuToShow].content track by elem">
                            <p>{{elem}}</p>
                        </div>
                    </div>
                    <div class="buttonMVW">
                        <input type="button" value="Туды" id="addAllButton">
                        <input type="button" value="Сюды" id="removeAllButton">
                    </div>
                    <div class="rightSideMVW">
                        <div class="elementChosenMVW" ng-repeat="elem in menuElements[menuToShow].chosen track by $index">
                            <div class="eCMVWLInner">
                                <p>{{elem}}</p>
                            </div>
                            <div class="xContainer">
                                <div class="xInEC"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="chartSection">
            <div class="chartPanel">
                <div class="chartDropdown">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Test data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Test data 2</li>
                            <li>Test data 3</li>
                            <li>Test data 4</li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Test data 2<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>Test data</li>
                            <li>Test data 3</li>
                            <li>Test data 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="resultTabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#postbuy" data-toggle="tab">Postbuy</a></li>
                <li><a href="#google_analytics" data-toggle="tab">Google Analytics</a></li>
                <li><a href="#yandex_metrika" data-toggle="tab">Yandex Metrika</a></li>
            </ul>
        </div>
        <div class="tab-content">
			<div id="postbuy" class="tab-pane fade in active" >
				<div class="tableAppSection ">
					<div class="tablePadding">
						<div class="tableContainer">
							<div id="toolbar">
								<input name="daterange">		
							</div>
							<table id="postbuyTable" class="table table-hover"></table>
					</div>
				</div>
			</div>
			<div id="google_analytics" class="tab-pane fade" ></div>
			<div id="yandex_metrika" class="tab-pane fade" ></div>
        </div>
    </div>
</div>