<div class="container mainFilterContainer">
    <div class="row">
       	<div class="selectBoxWithLabel selectBoxFirstInRow col-sm-3" id="industry">
       		<p class="selectBoxLabel">Выберите отрасль</p>
       		<div class="selectBoxMainArea">
       			
				<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'industry')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">Industry</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>

				
							
				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'industry')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'industry')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.industry">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="filter in filters | unique: 'industry' | filter:searchFilterFunc('industry' , searchFilter.industry)" ng-click="divClickCheck(filter.industry, 'industry')">
							<p class="sBDCValueP sBDCVPPassive">{{filter.industry}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.industry}}"> 
						</div>			
					</div>
				</div>
				
				<div class="selectBoxHoverInfo">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel selectBoxOtherInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите клиента</p>
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'client')" ng-mousemove="showHoverDivInfo($event)">
       			<p class="selectBoxDropdownButtonText">Client</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       			
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'client')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'client')">
				</div>
				<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.client">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive" ng-repeat="filter in filters | unique: 'client' | filter:searchFilterFunc('client' , searchFilter.client)" ng-click="divClickCheck(filter.client, 'client')">
						<p class="sBDCValueP sBDCVPPassive">{{filter.client}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.client}}"> 
					</div>			
				</div>
        	</div>
        	
        		<div class="selectBoxHoverInfo">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel  selectBoxOtherInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите тип компании</p>
       		
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'ad_goal')" ng-mousemove="showHoverDivInfo($event)">
       			<p class="selectBoxDropdownButtonText">AdGoal</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       		
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'ad_goal')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'ad_goal')">
				</div>
            	<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.client">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive " ng-repeat="filter in filters | unique: 'ad_goal'| filter:searchFilterFunc('ad_goal' , searchFilter.ad_goal)" ng-click="divClickCheck(filter.ad_goal, 'ad_goal')">
						<p class="sBDCValueP sBDCVPPassive">{{filter.ad_goal}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.ad_goal}}"> 
					</div>			
				</div>
        	</div>
        	
        		<div class="hideElement selectBoxHoverInfo ">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
   
   		
    </div>
    <div class="row">
    	<div class="refreshFiltersDiv col-sm-3">
        <p class="refreshFiltersLink " ng-click="queryNull()">Сбросить все фильтры</p>
    	</div>
    </div>
</div>


<div class="container advancedFilterContainer hideElement">
    <div class="row">
       	<div class="selectBoxWithLabel selectBoxFirstInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите medium</p>
       		<div class="selectBoxMainArea">
				<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'medium')">
					<p class="selectBoxDropdownButtonText">medium</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>

				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'medium')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'medium')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.medium">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="filter in filters | unique: 'medium' | filter:searchFilterFunc('medium' , searchFilter.medium)" ng-click="divClickCheck(filter.medium, 'medium')">
							<p class="sBDCValueP sBDCVPPassive">{{filter.medium}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.medium}}"> 
						</div>			
					</div>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel selectBoxOtherInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите placement</p>
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'placement')">
       			<p class="selectBoxDropdownButtonText">placement</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       			
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'placement')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'placement')">
				</div>
				<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.placement">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive" ng-repeat="filter in filters | unique: 'placement' | filter:searchFilterFunc('placement' , searchFilter.placement)" ng-click="divClickCheck(filter.placement, 'placement')">
						<p class="sBDCValueP sBDCVPPassive">{{filter.placement}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.placement}}"> 
					</div>			
				</div>
        	</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel  selectBoxOtherInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите brand</p>
       		
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'brand')">
       			<p class="selectBoxDropdownButtonText">brand</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       		
        		<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'brand')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'brand')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.brand">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive " ng-repeat="filter in filters | unique: 'brand'| filter:searchFilterFunc('brand' , searchFilter.brand)" ng-click="divClickCheck('brand_'+filter.brand, 'brand')">
							<p class="sBDCValueP sBDCVPPassive">{{filter.brand}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{'brand_'+filter.brand}}"> 
						</div>			
					</div>
        		</div>
			</div>
			
		</div>		
    </div>
     	
    <div class="row">
       	<div class="selectBoxWithLabel selectBoxFirstInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите device</p>
       		<div class="selectBoxMainArea">
				<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'device')">
					<p class="selectBoxDropdownButtonText">device</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>

				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'device')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'device')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.device">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="filter in filters | unique: 'device' | filter:searchFilterFunc('device' , searchFilter.device)" ng-click="divClickCheck(filter.device, 'device')">
							<p class="sBDCValueP sBDCVPPassive">{{filter.device}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.device}}"> 
						</div>			
					</div>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel selectBoxOtherInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите format</p>
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'format')">
       			<p class="selectBoxDropdownButtonText">format</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       			
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'format')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'format')">
				</div>
				<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.format">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive" ng-repeat="filter in filters | unique: 'format' | filter:searchFilterFunc('format' , searchFilter.client)" ng-click="divClickCheck(filter.format, 'format')">
						<p class="sBDCValueP sBDCVPPassive">{{filter.format}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.format}}"> 
					</div>			
				</div>
        	</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel  selectBoxOtherInRow col-sm-3">
       		<p class="selectBoxLabel">Выберите successful</p>
       		
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'successful')">
       			<p class="selectBoxDropdownButtonText">successful</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       		
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'successful')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'successful')">
				</div>
            	<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.client">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive " ng-repeat="filter in filters | unique: 'successful'| filter:searchFilterFunc('successful' , searchFilter.successful)" ng-click="divClickCheck(filter.successful, 'successful')">
						<p class="sBDCValueP sBDCVPPassive">{{filter.successful}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{filter.successful}}"> 
					</div>			
				</div>
        	</div>
			</div>
		</div>
   
   		
    </div>
    
    <div class="row">
    	<div class="refreshFiltersDiv col-sm-3">
        <p class="refreshFiltersLink " ng-click="queryNull()">Сбросить все фильтры</p>
    	</div>
    </div>
</div>

<div class="triangle" ng-click="showHideAdvancedFilters()">
		<div class="down-triangle"></div>
		<div class="up-triangle"></div>
</div>


<div class="container nextPage">
	<div class="row nextPageRow">
		<div class="col-sm-3 col-sm-offset-4">
			<div class="continueButton" ng-click="nextPage()">
				<p class="contButP">Продолжить</p>
				<img class="contButImg" src="../../lib/pic/Continue_arrow.png">
			</div>
		</div>
	</div>
</div>