<div class="container mainFilterContainer">
    <div class="row">
       	<div class="selectBoxWithLabel selectBoxFirstInRow col-sm-3" id="industry">
       		<p class="selectBoxLabel">Выберите отрасль</p>
       		<div class="selectBoxMainArea">
       			
				<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'industry')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">industry</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>

				
							
				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'industry')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'industry')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.industry">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="elem in filters.industry | matchValue:searchFilter.industry " ng-click="divClickCheck(elem, 'industry')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
						</div>			
					</div>
				</div>
				
				<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel selectBoxOtherInRow col-sm-3" id="client">
       		<p class="selectBoxLabel">Выберите клиента</p>
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'client')" ng-mousemove="showHoverDivInfo($event)">
       			<p class="selectBoxDropdownButtonText">client</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       			
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'client')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'client')">
				</div>
				<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.client">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive" ng-repeat="elem in filters.client | matchValue:searchFilter.client" ng-click="divClickCheck(elem, 'client')">
						<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
					</div>			
				</div>
        	</div>
        	
        		<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel  selectBoxOtherInRow col-sm-3" id="ad_goal">
       		<p class="selectBoxLabel">Выберите тип компании</p>
       		
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'ad_goal')" ng-mousemove="showHoverDivInfo($event)">
       			<p class="selectBoxDropdownButtonText">ad_goal</p>
       			<div class="selectBoxDropdownButtonImgDiv">
					<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
				</div>     			
       		</div>
       		
        		<div class="selectBoxDropdownContainer ">
				<div class="sBDCButtonContainer">
					<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'ad_goal')">
					<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'ad_goal')">
				</div>
            	<div>
					<img src="../../lib/pic/search-icon.png" class="searchIcon">
					<input class="sBDCSearchBox" type="text" ng-model="searchFilter.ad_goal">
				</div>
				<div class="sBDCValueContainer">
					<div class="sBDCValue sBDCVPassive " ng-repeat="elem in filters.ad_goal | matchValue:searchFilter.ad_goal" ng-click="divClickCheck(elem, 'ad_goal')">
						<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
						<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
					</div>			
				</div>
        	</div>
        	
        		<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
   
    </div>
    
    <div class="row">
    	<div class="refreshFiltersDiv col-sm-3">
    	    <p class="refreshFiltersLink" ng-click="queryNull()">Сбросить все фильтры</p>
    	</div>
    </div>
</div>


<div class="container advancedFilterContainer hideElement">
    <div class="row">
       	<div class="selectBoxWithLabel selectBoxFirstInRow col-sm-3" id="medium">
       		<p class="selectBoxLabel">Выберите medium</p>
       		<div class="selectBoxMainArea">
				<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'medium')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">medium</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>

				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'medium')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'medium')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.medium">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="elem in filters.medium | matchValue:searchFilter.medium" ng-click="divClickCheck(elem, 'medium')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
						</div>			
					</div>
				</div>
				
				<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel selectBoxOtherInRow col-sm-3" id="placement">
       		<p class="selectBoxLabel">Выберите placement</p>
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'placement')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">placement</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
       			</div>
       			
				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'placement')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'placement')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.placement">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="elem in filters.placement | matchValue:searchFilter.placement" ng-click="divClickCheck(elem, 'placement')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
						</div>			
					</div>
				</div>

				<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel  selectBoxOtherInRow col-sm-3" id="brand">
       		<p class="selectBoxLabel">Выберите brand</p>
       		
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'brand')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">brand</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
       			</div>
       		
        		<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'brand')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'brand')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.brand">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive " ng-repeat="elem in filters.brand | matchValue:searchFilter.brand" ng-click="divClickCheck('brand_'+elem, 'brand')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{'brand_'+elem}}"> 
						</div>			
					</div>
        		</div>
        		
        		<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
        		
			</div>
			
		</div>		
    </div>
     	
    <div class="row">
       	<div class="selectBoxWithLabel selectBoxFirstInRow col-sm-3" id="device">
       		<p class="selectBoxLabel">Выберите device</p>
       		<div class="selectBoxMainArea">
				<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'device')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">device</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>

				<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'device')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'device')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.device">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="elem in filters.device | matchValue:searchFilter.device" ng-click="divClickCheck(elem, 'device')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
						</div>			
					</div>
				</div>
				
				<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel selectBoxOtherInRow col-sm-3" id="format">
       		<p class="selectBoxLabel">Выберите format</p>
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'format')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">format</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>
       			
        		<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'format')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'format')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.format">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive" ng-repeat="elem in filters.format | matchValue:searchFilter.format" ng-click="divClickCheck(elem, 'format')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
						</div>			
					</div>
				</div>
				
				<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
       
       	<div class="selectBoxWithLabel  selectBoxOtherInRow col-sm-3" id="successful">
       		<p class="selectBoxLabel">Выберите successful</p>
       		
       		<div class="selectBoxMainArea">
       			<div class="selectBoxDropdownButton" ng-click="showDropdown($event.target, 'successful')" ng-mousemove="showHoverDivInfo($event)">
					<p class="selectBoxDropdownButtonText">successful</p>
					<div class="selectBoxDropdownButtonImgDiv">
						<img class="selectBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
					</div>     			
				</div>
       		
        		<div class="selectBoxDropdownContainer ">
					<div class="sBDCButtonContainer">
						<input class="sBDCBCButtonOk" type="button" value="Выбрать все" ng-click="checkBoxSelectDismissAll($event.target, 'successful')">
						<input class="sBDCBCButtonOtm" type="button" value="Очистить все" ng-click="checkBoxSelectDismissAll($event.target, 'successful')">
					</div>
					<div>
						<img src="../../lib/pic/search-icon.png" class="searchIcon">
						<input class="sBDCSearchBox" type="text" ng-model="searchFilter.successful">
					</div>
					<div class="sBDCValueContainer">
						<div class="sBDCValue sBDCVPassive " ng-repeat="elem in filters.successful | matchValue:searchFilter.successful" ng-click="divClickCheck(elem, 'successful')">
							<p class="sBDCValueP sBDCVPPassive">{{elem}}</p>
							<input class="btn btn-success sBDCValueCheckbox" type="checkbox" id="{{elem}}"> 
						</div>			
					</div>
				</div>
				
				<div class="selectBoxHoverDefault">
					<p class="selectBoxHoverInfoP"></p>
				</div>
			</div>
		</div>
   
   		
    </div>
    
    <div class="row">
    	<div class="refreshFiltersDiv col-sm-3">
        <p class="refreshFiltersLink" ng-click="queryNull()">Сбросить все фильтры</p>
    	</div>
    </div>
</div>

<div class="filtersOpener" ng-click="showHideAdvancedFilters()">
	<div class="filtersOpenerArrow" id="down-triangle"></div>
</div>


<div class="container nextPage">
	<div class="row nextPageRow">
		<div class="col-sm-3 col-sm-offset-4">
			<div class="continueButton" ng-click="nextPage()">
				<p class="contButP">Продолжить</p>
				<img class="contButImg" src="../../lib/pic/Continue_arrow.png">
			</div>
		</div>
	</div>
</div>