@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

img.loader {
    animation: spin 2s cubic-bezier(1,10,1,.3) 0s infinite;
    height: 100px;
    margin: 10% auto 0 auto;
	display: block;
}

.displayElement {
	display: block;
}

.loaderDiv {
	min-height: 400px;
    padding-top: 1%;
}

/*Bread row*/
.bread {
	height: 30px;
	background-color: #00b6e0;
}

.breadContent {
	margin-left: 2%;
	padding-top: 0.2%; 
}

.breadText, .breadImg {
	display: inline-block;
	margin-left: 0.1%;
	color: white;
	text-decoration: underline;
}

.breadText:hover {
	cursor: help;
}

.breadHoverDefault {
	display: none;
}

.breadHoverInfo {
	display: none;
}

.breadText:hover ~ .breadHoverInfo {
	display: block;
    width: 150px;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 1;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

.breadHoverInfoP {
	font-size: 14px;
	margin: 5px 0 5px 5px;
    color: #00b6e0;
}
/*End bread row*/

/*Main section*/
.tableAppSection {
	padding: 0 1% 1%;
    float: right;
    min-width: 87%;
    width: 87%;
}

/*tableDiv section*/
.tableDiv {
	box-shadow: 0 0 3px black;
	background-color: white;
/*	height: -webkit-fill-available;*/
}
/*End tableDiv section*/
		



/*buttonRow section*/

.dateRow {
	padding: 1% 1%;
    overflow: hidden;
}

.dateBoxDropdownButton {
	background-color: white;
    height: 35px;
    width: 11.5%;
	min-width: 210px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px grey;
	float:right;
}

.dateBoxDropdownButtonText {
	display: inline-block;
    padding: 8px 0px 0px 15px;
	color: #808080;
}

.dateBoxDropdownButtonImg {
    height: 50%;
    width: auto;
}

.dateBoxDropdownButtonImgDiv {
    display: inline-block;
    background-color: white;
    border: black;
    vertical-align: top;
    margin: 3.5% 6% 0px 0px;
    float: right;
}

/*End buttonRow section*/


/*tableRow section*/
.tableRow {
	margin: 0% 1%;
	overflow-x: auto;
}
/*End tableRow section*/

/*End main section*/

/*menuSction*/
.menuSection {
    display: inline-block;
    float: left;
    width: 13%;
    font-weight: 300;
/*    height: -webkit-fill-available;*/
	min-height: 600px;
    background-color: white;
    position: sticky;
    top: 5px;
    margin: 1% 0;
    /* border: 1px solid #b3b3b3; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.customReportBoxMainArea:nth-child(3){
/*	margin-bottom: 95px;*/
}
/*End menuSction*/

/*Menu section*/
.customReportBoxMainArea {
    font-size: 13pt;;
}

.customReportBoxDropdownButtonText {
    padding: 5% 0px 0px 5%;
    display: inline-block;
    font-weight: 500;
}

.customReportBoxDropdownButton {
    width: 100%;
    background-color: #e6e6e6;
}

.customReportBoxDropdownContainer {
    width: 100%;
    height: auto;
    max-height: 350px;
    padding: 5px 0 5px 0;
    background-color: white;
    padding-bottom: 5px;
	display: block;
}

.cRBDCValueContainer {
    margin-bottom: 5px;
    display: block;
    max-height: 240px;
    width: 100%;
    margin: auto;
}

.cRBDCValue {
    cursor: pointer;
    transition-duration: 0.25s;
}

.cRBDBPActive, .cRBDCValue:hover, .cRBDCVActive {
	background-color: #e6e6e6;
	color: #00b6e0;
}

.cRBDCValueCheckbox {
	display: none;
}

.cRBDCValueP {
    padding: 0px 0px 0px 16%;
    margin: 0;
	display: inline-block;
}

.menuSection img {
	height: 11px;
    float: right;
}

.customReportBoxDropdownButton img {
	margin: 7% 3% 0 0;
}

.cRBDCValueContainer img {
	margin: 3% 3% 0 0;
}

.createReport {
	background-color: #e22032;
    cursor: pointer;
    transition-duration: 0.25s;
    display: block;
    width: 100%;
	position: absolute;
    bottom: 15px;
}

.createReport:hover {
    background-color: #ec4555;
}

.createReport:active {
    background-color: #b70011;
}

.createReport > p {
	color: white;
    font-size: 20px;
    margin: 6% 0 7% 20%;
    display: inline-block;
}

.createReport > img {
	display: inline-block;
    margin: 0 0 2% 5%;
}

.menuHolder {
    position: sticky;
    display: inline-block;
    width: 40%;
    z-index: 1;
    top: 0px;
}

.hoverMenuWithVariants, .hoverMenuWithMetrics {
	height: auto;
    background-color: white;
    display: block;
    position: absolute;
    border-radius: 1px;
    border: 1px solid #bbbbbb;
    min-height: 300px;
    margin-top: 14%;
    box-shadow: 9px 10px 52px -14px rgba(0,0,0,0.75);
    width: 100%;
}

.hoverMenuWithMetrics .activeGroup {
	margin: 0;
}

.hoverMenuWithVariants p {
	margin: 0;
}

.topSideMVW p{
	padding: 2% 0 0 4%;
    margin: 0;
    width: 50%;
    position: relative;
    display: inline-block;
}

#postbuyTopSideMVW p {
    margin-bottom: 2%;
}

.activeGroup {
	margin-top: 2%;
}

.groupName {
	margin: 2% 0 2% 4%;
}

#postbuyGroupName {
    margin-left: 4%;
}

.leftSideMVW, .rightSideMVW {
	display: inline-block;
    border: 1px solid #bebebe;
    box-shadow: 0 0 1px 1px #d9d9d9;
    width: 38%;
    min-height: 200px;
	max-height: 200px;
	overflow-y: auto;
}

#goalsBlock {
	display: inline-block;
    border: 1px solid #bebebe;
    box-shadow: 0 0 1px 1px #d9d9d9;
    width: 38%;
    min-height: 200px;
	max-height: 200px;
	overflow-y: auto;
}

.leftSideMVW {
	margin-left: 4%;
}

.buttonMVW {
	display: inline-block;
    width: 10%;
    margin-left: 2%;
	vertical-align: top;
}

.buttonMVW > input {
	width: 100%;
	margin-top: 75%;
}

.rightSideMVW {
	margin-left: 2%;
}

.elementToChooseMVW {
	border: 1px solid #00b6e0;
    margin: 2%;
    border-radius: 2px;
    color: #00b6e0;
    cursor: pointer;
}

.elementToChooseMVW:hover, .elementToChooseMVWActive {
	background-color: #00b6e0;
	color: white;
}

.elementToChooseMVW p {
    padding: 2% 5%;
    margin: 0;
}

.elementChosenMVW {
    display: inline-block;
    border: 1px solid #00b6e0;
    margin: 2%;
    border-radius: 2px;
    width: auto;
    cursor: pointer;
}

.eCMVWLInner {
    display: inline-block;
    border-right: 1px solid #00b6e0;
    padding-right: 2px;
    background-color: #00b6e0;
    color: white;
    height: 29px;
}

.eCMVWLInner p {
	padding: 3.7px 8.7px;
}

.xContainer {
	display: inline-block;
}

.xInEC {
    width: 10px;
    height: 10px;
    background-color: #00b6e0;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
	margin-right: 2px;
}

.bottomMVW {
    margin: 1% 0 2% 6%;
    width: 35%;
    height: 29px;
    border: 1px solid #5bb7e1;
    color: #5bb7e1;
	background-color: white;
    border-radius: 1px;
    cursor: pointer;
}

.bottomMVWSelected {
	margin: 1% 0 2% 6%;
    width: 35%;
    height: 29px;
    border: 1px solid #5bb7e1;
	background-color: #5bb7e1;
    color: white;
    border-radius: 1px;
    cursor: pointer;
}

.bottomMVW:hover {
    background-color: #5bb7e1;
    color: white;
}

.bottomMVW p, .bottomMVW input {
    display: inline;
    margin-left: 5px;
}


/*End menu section*/

.tablePadding {
	background-color: white;
    padding: 0 10px 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tableContainer {
	min-height: 200px;
}

.fixed-table-container {
	border: 0px;
}

.fixed-table-body {
	border: 1px solid #dddddd;
}

.fixed-table-pagination {
	padding: 0 10px;
}



.hideElement {
	display: none;
}

.customReportBoxDropdownContainer input {
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 95%;
    font-size: 15.5px;
    margin: 2.5%;
}

.customReportBoxDropdownContainer input:hover {
    border: 1px solid #5bb7e1;
    color: #5bb7e1;
}

.emptyWarning {
	position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #e6e6e6;
    width: 15%;
    padding: 10px;
    box-shadow: 2px 1px 2px black;
}

.xInEW  {
	float: right;
    cursor: pointer;
}

#saveBtn {
    width: 100px;
    height: 35px;
    float: right;
    background-color: #55b24c;
    color: white;
    margin-top: 3%;
    margin-right: 5%;
}

#saveBtn:hover {
    background-color: #78d06f;
}

#saveBtn:active {
    background-color: #369e2c;
}

.daterangepicker .input-mini.active {
    border: 1px solid #5bb7e1;
}