<div class="container">
	<div class="row">
		<div class="bread">
			<div class="breadContent">
				<p class="breadText">Отрасль</p>
				<img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
				<p class="breadText">Клиент</p>
				<img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
				<p class="breadText">Тип кампании</p>
			</div>
		</div>
	</div>
	<div class="row mainPart">
		<div class="menuSection">
			<div class="customReportBoxMainArea hoverToNewMenu">
				<div class="customReportBoxDropdownButton">
					<p class="customReportBoxDropdownButtonText">Источники</p>
				</div>
				<div class="customReportBoxDropdownContainer">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue hoverToNewMenu" id={{menuElements.dataSource.ga.id}} ng-click="listenToHover($event.target)">
							<p class="cRBDCValueP">Google Analytics</p>
						</div>
						<div class="cRBDCValue hoverToNewMenu" id={{menuElements.dataSource.ym.id}} ng-click="listenToHover($event.target)">
							<p class="cRBDCValueP">Yandex Metrika</p>
						</div>
						<div class="cRBDCValue hoverToNewMenu" id={{menuElements.postbuy.id}} ng-click="listenToHover($event.target)">
							<p class="cRBDCValueP">PostBuy</p>
						</div>
						<div class="cRBDCValue">
							<p class="cRBDCValueP">Tns</p>
						</div>
					</div>
				</div>
			</div>

			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.campaign.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.campaign.name}}</p>
				</div>
			</div>

			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.placement.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.placement.name}} </p>
				</div>
			</div>

			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.medium.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.medium.name}}</p>
				</div>
			</div>

			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.format.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.format.name}}</p>
				</div>
			</div>

			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.site.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.site.name}}</p>
				</div>
			</div>

			<div class="createReport" ng-click="sendReport()">
				<p>Создать отчет</p>
				<img src="../../lib/pic/Continue_arrow.png">
			</div>




		</div>

		<div class="menuHolder">

			<div class="hoverMenuWithMetrics hideElement">
				<div class="topSideMVW">
					<p>{{menuElements.dataSource[menuToShow].name}}</p>
				</div>
				<div class="activeGroup">
					<div class="group" data-type="dimension">
						<p class="groupName">Параметры</p>
						<div class="leftSideMVW">
							<div class="dimension">
								<div class="elementToChooseMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].content.dimension track by elem">
									<p>{{elem}}</p>
								</div>
							</div>
						</div>
						<div class="buttonMVW">
							<input type="button" class="addAllButton">
							<input type="button" class="removeAllButton">
						</div>
						<div class="rightSideMVW">
							<div class="dimension">
								<div class="elementChosenMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].chosen.dimension track by $index">
									<div class="eCMVWLInner">
										<p>{{elem}}</p>
									</div>
									<div class="xContainer">
										<div class="xInEC"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="group" data-type="metrics">
						<p class="groupName">Показатели</p>
						<div class="leftSideMVW">
							<div class="metrics">
								<div class="elementToChooseMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].content.metrics track by elem">
									<p>{{elem}}</p>
								</div>
							</div>
						</div>
						<div class="buttonMVW">
							<input type="button" class="addAllButton">
							<input type="button" class="removeAllButton">
						</div>
						<div class="rightSideMVW">
							<div class="metrics">
								<div class="elementChosenMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].chosen.metrics track by $index">
									<div class="eCMVWLInner">
										<p>{{elem}}</p>
									</div>
									<div class="xContainer">
										<div class="xInEC"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottomMVW">
					<p>Цели</p>
					<input type="checkbox" value="Цели" id="goalCheck">
				</div>
			</div>

			<div class="hoverMenuWithVariants hideElement">
				<div class="topSideMVW">
					<p>{{menuElements[menuToShow].name}}</p>
				</div>
				<div class="activeGroup">
					<div class="leftSideMVW">
						<div class="elementToChooseMVW" ng-repeat="elem in menuElements[menuToShow].content track by elem">
							<p>{{elem}}</p>
						</div>
					</div>
					<div class="buttonMVW">
						<input type="button" value="Туды" class="addAllButton">
						<input type="button" value="Сюды" class="removeAllButton">
					</div>
					<div class="rightSideMVW">
						<div class="elementChosenMVW" ng-repeat="elem in menuElements[menuToShow].chosen track by $index">
							<div class="eCMVWLInner">
								<p>{{elem}}</p>
							</div>
							<div class="xContainer">
								<div class="xInEC"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="tableAppSection ">
			<div class="tablePadding">
				<div class="tableContainer hideElement">
					<div id="toolbar">
						<input name="daterange">
					</div>
					<table id="table" class="table table-hover">
						
					</table>
				</div>
				<div class="loaderDiv">
					<img class="loader" src="lib/pic/Logo_MDMA_Circle.svg">
				</div>
			</div>
		</div>
	</div>
</div>