<div class="container">
	<div class="row">
		<div class="bread">
			<div class="breadContent">
				<p class="breadText">Отрасль</p>
				<img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
				<p class="breadText">Клиент</p>
				<img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
				<p class="breadText">Тип кампании</p>
			</div>
		</div>
	</div>
	<div class="row mainPart">
		<div class="menuSection hideElement">
<!--
			<div class="customReportBoxMainArea" id="data_source">
				<div class="customReportBoxDropdownButton cRBDBPassive" ng-click="showDropdown($event.target)">
					<p class="customReportBoxDropdownButtonText">Источники данных</p> 		
				</div>
				<div class="hideElement customReportBoxDropdownContainer ">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue cRBDCVPassive" id="google_analytics">
							<p class="cRBDCValueP cRBDCVPPassive">Google Analytics</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>
						<div class="cRBDCValue cRBDCVPassive" id="metrika">
							<p class="cRBDCValueP cRBDCVPPassive">Yandex.Metrika</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>	
						<div class="cRBDCValue cRBDCVPassive" id="postbuy">
							<p class="cRBDCValueP cRBDCVPPassive">PostBuy</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>	
						<div class="cRBDCValue cRBDCVPassive" id="tns">
							<p class="cRBDCValueP cRBDCVPPassive">Tns</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>			
					</div>
				</div>
			</div>
-->
			
			<div class="customReportBoxMainArea" ng-repeat="types in menuElements">
				<div class="customReportBoxDropdownButton cRBDBPassive"  ng-click="showDropdown($event.target)">
					<p class="customReportBoxDropdownButtonText">{{types.name}}</p> 			
				</div>
				<div class="customReportBoxDropdownContainer hideElement">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue cRBDCVPassive" ng-repeat="elements in types.content track by $index">
							<p class="cRBDCValueP cRBDCVPPassive">{{elements}}</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>			
					</div>
				</div>
			</div>
<!--
			<div class="customReportBoxMainArea" id="campaigns">
				<div class="customReportBoxDropdownButton cRBDBPassive"  ng-click="showDropdown($event.target)">
					<p class="customReportBoxDropdownButtonText">Кампании</p> 			
				</div>
				<div class="customReportBoxDropdownContainer hideElement">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue cRBDCVPassive" ng-repeat="elements in menuElements.Campaign">
							<p class="cRBDCValueP cRBDCVPPassive">{{elements}}</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>			
					</div>
				</div>
			</div>
			
			<div class="customReportBoxMainArea" id="placement">
				<div class="customReportBoxDropdownButton cRBDBPassive"  ng-click="showDropdown($event.target)">
					<p class="customReportBoxDropdownButtonText">Размещение</p>	
				</div>
				<div class="customReportBoxDropdownContainer hideElement">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue cRBDCVPassive" ng-repeat="elements in menuElements.Placement">
							<p class="cRBDCValueP cRBDCVPPassive">{{elements}}</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>			
					</div>
				</div>
			</div> 
			
			<div class="customReportBoxMainArea" id="medium">
				<div class="customReportBoxDropdownButton cRBDBPassive"  ng-click="showDropdown($event.target)">
					<p class="customReportBoxDropdownButtonText">Medium</p> 			
				</div>
				<div class="customReportBoxDropdownContainer hideElement">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue cRBDCVPassive" ng-repeat="elements in menuElements.Placement">
							<p class="cRBDCValueP cRBDCVPPassive">{{elements}}</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>			
					</div>
				</div>
			</div> 
			
			<div class="customReportBoxMainArea" id="format">
				<div class="customReportBoxDropdownButton cRBDBPassive"  ng-click="showDropdown($event.target)">
					<p class="customReportBoxDropdownButtonText">Формат</p> 			
				</div>
				<div class="customReportBoxDropdownContainer hideElement">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue cRBDCVPassive">
							<p class="cRBDCValueP cRBDCVPPassive">Пример</p>
							<input class="cRBDCValueCheckbox" type="checkbox"> 
						</div>			
					</div>
				</div>
			</div> 
-->
			
		</div>
		<div class="tableAppSection hideElement">
			<div class="tableDiv">
				<div class="dateRow">
					<div class="dateBoxDropdownButton">
						<p class="dateBoxDropdownButtonText">01.01.1990-12.12.2017</p>
						<div class="dateBoxDropdownButtonImgDiv">
							<img class="dateBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
						</div>     			
					</div>
				</div>
				<div class="tableRow">
					<table class="table">
						<thead>
							<td ng-repeat="val in tableContentHeader">
								{{val}}
							</td>
						</thead>
						<tr ng-repeat="row in tableContent ">
							<td ng-repeat="val in row track by $index">
								{{val}}
							</td>
						</tr>
					</table>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="loaderDiv">
	<img class="loader" src="lib/pic/Logo_MDMA_Circle.svg">
</div>