<div class="container">
	<div class="row">
		<div class="bread">
			<div class="breadContent">
				<p class="breadText">Отрасль</p>
				<img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
				<p class="breadText">Клиент</p>
				<img src="../../lib/pic/Arrow_Main_Bread.png" class="breadImg">
				<p class="breadText">Тип кампании</p>
			</div>
		</div>
	</div>
	<div class="row mainPart">
		<div class="menuSection hideElement">
			<div class="customReportBoxMainArea hoverToNewMenu">
				<div class="customReportBoxDropdownButton">
					<p class="customReportBoxDropdownButtonText">Источники</p>	
				</div>
				<div class="customReportBoxDropdownContainer">
					<div class="cRBDCValueContainer">
						<div class="cRBDCValue hoverToNewMenu" id={{menuElements.dataSource.ga.id}} ng-click="listenToHover($event.target)">
							<p class="cRBDCValueP">Google Analytics</p> 
						</div>
						<div class="cRBDCValue hoverToNewMenu" id={{menuElements.dataSource.ym.id}} ng-click="listenToHover($event.target)">
							<p class="cRBDCValueP">Yandex Metrika</p> 
						</div>	
						<div class="cRBDCValue" id={{menuElements.dataSource.postbuy.id}}>
							<p class="cRBDCValueP">PostBuy</p> 
						</div>	
						<div class="cRBDCValue">
							<p class="cRBDCValueP">Tns</p>
						</div>				
					</div>
				</div>
			</div>
			
			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.campaign.id}} >
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.campaign.name}}</p>	
				</div>
			</div>
			
			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.placement.id}} >
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.placement.name}} </p>	
				</div>
			</div>
			
			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.medium.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.medium.name}}</p>	
				</div>
			</div>
			
			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.format.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.format.name}}</p>	
				</div>
			</div>
			
			<div class="customReportBoxMainArea hoverToNewMenu" id={{menuElements.sites.id}}>
				<div class="customReportBoxDropdownButton" ng-click="listenToHover($event.target)">
					<p class="customReportBoxDropdownButtonText">{{menuElements.sites.name}}</p>	
				</div>
			</div>
			
			<div class="createReport" ng-click="sendReport()">
					<p>Создать отчет</p>
					<img src="../../lib/pic/Continue_arrow.png">	
			</div>
			
			
			
			
		</div>
		
		<div class="menuHolder">
			
			<div class="hoverMenuWithMetrics hideElement">
				<div class="topSideMVW">
					<p>{{menuElements.dataSource[menuToShow].name}}</p>
				</div>
				<div class="leftSideMVW">
					<div class="dimension">
						<div class="elementToChooseMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].content.dimension track by elem">
							<p>{{elem}}</p>
						</div>
					</div>
					<div class="metrics">
						<div class="elementToChooseMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].content.metrics track by elem">
							<p>{{elem}}</p>
						</div>
					</div>
				</div>
				
				<div class="rightSideMVW">
					<div class="dimension">
						<div class="elementChosenMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].chosen.dimension track by $index">
							<div class="eCMVWLInner">
								<p>{{elem}}</p>	
							</div>
							<div class="xContainer">
								<div class="xInEC"></div>	
							</div>
						</div>
					</div>
					<div class="metrics">
						<div class="elementChosenMVW" ng-repeat="elem in menuElements.dataSource[menuToShow].chosen.metrics track by $index">
							<div class="eCMVWLInner">
								<p>{{elem}}</p>	
							</div>
							<div class="xContainer">
								<div class="xInEC"></div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="hoverMenuWithVariants hideElement">
				<div class="topSideMVW">
					<p>{{menuElements[menuToShow].name}}</p>
				</div>
				<div class="leftSideMVW">
					<div class="elementToChooseMVW" ng-repeat="elem in menuElements[menuToShow].content track by elem">
						<p>{{elem}}</p>
					</div>
				</div>
				<div class="rightSideMVW">
					<div class="elementChosenMVW" ng-repeat="elem in menuElements[menuToShow].chosen track by $index">
						<div class="eCMVWLInner">
							<p>{{elem}}</p>	
						</div>
						<div class="xContainer">
							<div class="xInEC"></div>	
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
<!--
		<div class="tableAppSection hideElement">
			<div class="tableDiv">
				<div class="dateRow">
					<div class="dateBoxDropdownButton">
						<p class="dateBoxDropdownButtonText">01.01.1990-12.12.2017</p>
						<div class="dateBoxDropdownButtonImgDiv">
							<img class="dateBoxDropdownButtonImg" src="../../lib/pic/filter-arrow.png">
						</div>     			
					</div>
				</div>
				<div class="tableRow">
					<table class="table">
						<thead>
							<td ng-repeat="val in tableContentHeader">
								{{val}}
							</td>
						</thead>
						<tr ng-repeat="row in tableContent ">
							<td ng-repeat="val in row track by $index">
								{{val}}
							</td>
						</tr>
					</table>
				</div>				
			</div>
		</div>
-->
		<div class="tableAppSection hideElement">
			<div class="tablePadding">
			
				<table id="table" data-toggle="table" data-search="true" data-pagination="true" data-pagination-loop="true" data-page-number="1" data-page-size="3"	data-page-list="[3,25]" data-toolbar="#toolbar" data-show-export="true" data-filter-control="true" data-filter-show-clear="true" class="table table-hover">
					<thead>
						<tr>
							<th data-field="Industry">Industry</th>
							<th data-field="Client">Client</th>
							<th data-field="Campaign">Campaign</th>
							<th data-field="Successful">Successful?</th>
							<th data-field="Date_start">Date start</th>
							<th data-field="Date_end">Date end</th>
							<th data-field="Duration">Duration</th>
							<th data-field="Placement">Placement</th>
							<th data-field="Medium">Medium</th>
							<th data-field="Format">Format</th>
							<th data-field="Postbuy_data">Postbuy_data</th>
							<th data-field="google_analytics">google_analytics</th>
							<th data-field="metrika">metrika</th>
							<th data-field="tns">tns</th>
							
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="loaderDiv">
	<img class="loader" src="lib/pic/Logo_MDMA_Circle.svg">
</div>